.env
awscliv2.zip
extractors/process_etl.log
env
/home/olalekan/telecom/.env
spartan-tesla-410811-dd55c919c23d.json
extractors
aws
dbt/logs
extract_folder/__pycache__
extract_folder/process_etl.log
snowflakes/__pycache__
.py
process_etl.log
snowflakes_load.py
trash
airflow/dags/__pycache__
infra/.terraform
infra/.terraform.lock.hcl
.dockerignore